<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="key" value="eCFjwXhTpBagasFvhf6Sg"/>
    <add key="secret" value="lwqcOb8oTkkFE02nmRVWT2eSZeI1GsdAjQQK0Enuibc"/>
  </appSettings>
</configuration>
